/* HOME SECTION */

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                                                          /* Assigning the Font used all over my site */
}

.sticky-header {                                          /* Ensuring my header is Sticky and fixed as I scroll down my site */
  width: 100%;
  height: 80px;  
  position: sticky;
  top: 0;
  z-index: 1000;                                          /* ensures the header stays on top of other content */
  background-color: #E8E8E8; 
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.7);          /* bottom shadow to give my nav bad more depth */
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
}

.navbar ul li a {
  text-decoration: none;
  color: black; 
  padding: 5px 10px; 
  transition: background-color 0.1s; 
}

.navbar ul li a:hover {
  border: solid #B9C2C4;
  background-color: #B9C2C4;
  border-bottom-left-radius: 20%;
  border-top-right-radius: 20%;
}

.bg-image {                                               /* Styles for the background image div */
  background-image: url('../Images/background_Img.png'); 
  width: 100%; 
  height: 60vh; 
  background-size: cover; 
  background-position: center; 
  margin-bottom: 10px;
  position: relative;

}

.content-center {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);                      /* Centering both vertically and horizontally */
  text-align: center;
}


.name {
  font-size: 2em;
    color: #E8E8E8; 
    font-weight: bold;
    padding-bottom:10px;
    font-size: 50px;
    font-weight: bold;
}

.designation {
  font-size: 1.5rem;
  color: #E8E8E8;
  font-weight: 700;
  
}

.pp {
  position: absolute;
  width: 250px;
  height: 250px;
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);                            /* Centering the image horizontally */
  
}

/* ABOUT ME SECTION */

.divider {
  border: none;                                           /* Removes the default border */
  height: 1px;  
  background-color: #947F57;  
  margin-top: 10px;  
  margin-bottom: 10px;  
  max-width: 100%;

}

.about-me-section {
  padding: 100px; 
  text-align: right; 
  max-width: 1700px; 
  margin: 0 auto; 
}

.about-me-section h2 {
  font-size: 2rem;
  margin-bottom: 50px; 
  color: #3D3D3D;

}

.about-me-section p {
  font-size: 1.2rem; 
  margin-bottom: 50px; 
  color: #3D3D3D;
  text-align: center; 
  padding-left: 10px;
  padding-right: 10px;
}

.about-me-buttons {
  display: flex; 
  gap: 20px;
  justify-content: center; 
}

.cv-button, .contact-button {
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px;
  background-color: #B9C2C4; 
  color: white; 
  cursor: pointer; 
}

.cv-button:hover, .contact-button:hover {
  background-color: #947F57; 
}

.icon {
  width: 20px;  
  height: 20px; 
  vertical-align: middle; 
  margin-right: 10px; 
}


/* EDUCATION SECTION */

.education-container {
  width: 80%;
  max-width: 1100px;
  margin: 40px auto;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(68, 68, 68, 0.7);
  padding: 20px;
  padding-top: 20px;
}

/* Education Section Title */
.education-container h2 {
  font-size: 24px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
}

/* Individual Education Item */
.education-item {
  display: flex;
  align-items: center;
  justify-content: center;  /* Centering items horizontally */
  margin-bottom: 20px;
}

.education-item:last-child {
  margin-bottom: 0;
}

/* Logo Styling */
.education-logo {
  flex: 0 0 70px;
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-right: 200px;
}

/* Education Details Styling */
.education-details {
  text-align: center;  /* Centering the text within details */
}

.education-details h3 {
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
  color: #947F57;
  padding-top: 30px;
}

.education-details p {
  margin: 0;
  font-size: 14px;
  color: #666;
  white-space: pre-line; /* to preserve new lines and white spaces in your p tags */
}

/* Responsive Breakpoints */
@media (max-width: 768px) {
  .education-item {
      flex-direction: column;
      align-items: center;  /* Centering items vertically */
  }

  .education-logo {
      margin: 0;
      margin-bottom: 20px;
  }
}

/* SKILLS SECTION */

.skills-section {
  padding: 100px;
  text-align: center;  /* Center the content */
 
  margin: 0 auto;
}

.skills-section h2, .skills-section p {
  margin-bottom: 50px;
  color: #3D3D3D;
}

.skills-section p {
  font-size: 1.2rem;
  padding: 0 10px;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(4, 120px);
  gap: 250px;
  justify-content: center;
}

.skill {
  text-align: center;
  position: relative;
}

.skill img {
  width: 120px;
  height: 120px;
  margin-top: 10px;
}

.skill-circle::before, .skill-circle::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: all 0.3s;
}

.skill-circle::before {
  width: 250px;
  height: 250px;
  border: 10px solid transparent;
  box-sizing: border-box;
}

.skill-circle::after {
  font-size: 18px;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
}

/* Hover Effects for the skills */
.skill:hover .skill-circle::before {
  border-width: 10px;

}

#html:hover .skill-circle::before { border-color: #F16529; }
#css:hover .skill-circle::before { border-color: dodgerblue; }
#javascript:hover .skill-circle::before { border-color: gold; }
#nodejs:hover .skill-circle::before { border-color: green; }

#html:hover .skill-circle::after {
  content: '100%';
  opacity: 1;
}

#css:hover .skill-circle::after {
  content: '100%';
  opacity: 1;
}

#javascript:hover .skill-circle::after {
  content: '80%';
  opacity: 1;
}

#nodejs:hover .skill-circle::after {
  content: '80%';
  opacity: 1;
}

/* Responsive Design for max-width: 700px */
@media (max-width: 1000px) {
  .skills-container {
      grid-template-columns: repeat(2, 120px);
  }
}


/* Footer */


footer {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.footer-left a img {
  width: 30px;
  height: 30px;
  margin: 0 5px; /* This applies a 15px gap to the left and right of each image. Adjust if necessary. */
}

.footer-left a {
  text-decoration: none;
  color: #333;
  font-size: 11px;
  transition: color 0.3s ease;
}

.footer-left a:hover {
  color: #AFD0FF;
}

.footer-right {
  color: #666;
  font-size: 11px;
}
