/* Making use of the Clamp Function to ensure all my text is responsive*/

h1 {
    font-size: clamp(1.5rem, 4vw, 3rem);
}

.pp {          
    width: clamp(150px, 25vw, 250px);
    height: clamp(150px, 25vw, 250px);
}

.about-me-section h2 {
    font-size: clamp(1.5rem, 2.5vw, 2rem); 

}

.about-me-section p {
    font-size: clamp(0.9rem, 1.1vw, 1.8rem); 
    color: #5f5f5f;
}
